/*Text Styling*/

h1 {
  font-size: 560%;
  color: forestgreen;
  font-family: monospace,serif;
  font-weight: bold;
}

h2 {
   font-size: 330%;
   color: forestgreen;
   font-family: sans-serif, helvetica;
   text-decoration: underline;
}

p {
  font-family: sans-serif;
  font-size: 1.3em;
}

body {
  text-align: center;
  background-color: lightgray;
}

ul {
  list-style-type: none;
}

li {
  font-size:1.5em;
  font-family: monospace;
}

/*section styling*/
span {
  text-align: center;
  font-family: monospace;
  font-size: 4em;
  color: forestgreen;
}

#intro {
  color: forestgreen;
  font-size: 2em;
  border-bottom: 3px dotted forestgreen;
}

header {
  border: 7px 10px;
  border-style: solid dotted;
  border-color: forestgreen;
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/0b/0e/80/ef/eastern-highlands.jpg);
}

footer {
  background-color: forestgreen;
  color: firebrick
  font-family: sans-serif;
  font-style: italic;
}

.nav {
  color: black;
  border: 2px 3px;
  border-radius: 20%;
  border-color: forestgreen;
}

/*links*/

a:link {
  color: forestgreen;
  text-decoration: none;
}

a:active {
  color: forestgreen;
  text-decoration: none;
}

a:hover {
  color: lawngreen;
  text-decoration: overline;
  background-color: black;
}

a:visited {
  color: firebrick;
  text-decoration: none;
}

.accommodation {
  text-decoration: underline;
  font-size: 1.8em;
  font-weight: bold;
}
